*{
	font-family: Courier New;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
img{
	height:100px;
	width: 100px;
	display: block;
	margin: auto;
}
h2{
	color: #fff;
	margin-top: 5px;
	text-align: center;
	font-size: 30px;
}
form{
	margin-top: 7%;
	width: 400px;
	padding: 30px;
	background: #77aad9;
	border-radius: 15px;

}
input {
	display: block;
	border: 4px solid #fb8500;
	width: 95%;
	padding: 10px;
	margin: 5px auto;
	border-radius: 5px;

}
label {
	color: #fff;
	font-size: 18px;
	margin-bottom: 0px;
	font-weight: bolder;
}

.submit{
	float: right;
  letter-spacing: 1px;
	background: black;
	padding: 10px 20px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	font-size: 18px;
	font-weight: bolder;
  margin-bottom: 7%;
}
.submit:hover{
	opacity: .7;
}
a{
	font-size: 14px;
}
p{
  color:red;
}
